body {
    font-family: Arial, Helvetica, sans-serif;
}


.container-fixed {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}

.nav-fixed {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;

}
.logo-sony {
    width: 50px;
    height: 25px;
}

.btn {
    border-radius: 50px;
}

.logo {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.jumbotron {
    height: 500px;
    background: url("../img/jumbo-bg.png");
    background-size: cover;
    margin-top: 91px;

}

.jumb-text {
    width: 400px;
    padding-top: 220px;
}

.logo-returnal {
    width: 150px;
    height: 50px;

}

.text-white {
    color: white;
}